body {
    background-color: rgb(251, 241, 232);
    font-family: 'Recursive', monospace;
    font-size: 12;
}

p {
    display: block;
    width: 600px;
}

.container {
    margin-top: 50px;
    margin-left: 50px;
}

#header {
    display: flex;
    align-items: center;
}

#subheader h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

#subheader h2 {
    font-weight: normal;
}

#screenshot {
    max-width: 100%;
    min-width: 600px;
    width: 800px;
    height: auto;
}
